<!DOCTYPE html>

{% load static %}

<html>

    <head>
        
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <title>Bank Statement To Excel</title>
        <meta name = "description" content = "">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel = "stylesheet" type = 'text/css' href="{% static 'css/style.css' %}">

    </head>
    
    <body>
        
        <div class = 'intro'>
            
            <h1>Bank Statement Transformer</h1>
            <h3>This web application is used to send a request to Azure to instigate the transformation of 
                PDF Bank Statements into Excels.</h3>
            <p>All folders within 'Documents > Logic App Testing > Bank Statements' will be transformed.<br>
                The data from within the same folder will be concatenated together into one Excel, 
                so keep statements relating to different accounts in their own seperate folder.</p>

        </div>

        <div class = 'run-process'>
            
            <p class = 'run-button'>Click the following button to begin the transformation: </p>

            <form class = 'run-button' action = './run/'>
                <input type = "submit" value = "RUN" />
            </form>

        </div>

    </body>

</html>